<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154209668174-lr5m3ssa5a0d69hjg8705uupgmmkp5tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154209668174-lr5m3ssa5a0d69hjg8705uupgmmkp5tt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154209668174-hfrs84petfdn7b75bff1hhh0u8hl1rrp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmE689gd0qQOc4po7aSB43X8etF1eaRkA</string>
	<key>GCM_SENDER_ID</key>
	<string>154209668174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.cirkali.app</string>
	<key>PROJECT_ID</key>
	<string>cirkali</string>
	<key>STORAGE_BUCKET</key>
	<string>cirkali.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154209668174:ios:97cb3d42d49325fefbc71f</string>
</dict>
</plist>